.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.projects ul {
    display: flex;
    gap: 2rem;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.projects ul > li {
    border: 1px solid var(--blue);
    border-radius: 10px;
    list-style: none;
    background-color: var(--white);
}

.projects h3 {
    color: var(--blue);
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
}

.projects p {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
}

.projects button {
    padding: 12px;
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    transition-duration: 0.4s;
    font-weight: bold;
    color: var(--blue);
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.projects button:hover {
    background: var(--gray);
}

.projects button > span {
    margin-left: 5px;
}

.projects img {
    width: 300px;
    display: block;
    border-radius: 0 0 8px 8px;
}

