.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    width: 400px;
}

.about span {
    background-color: var(--green);
}

.about p {
    color: var(--black);
}