:root {
  --white: #fff;
  --gray: #f3f6fb;
  --black: #000;
  --blue: #4831D4;
  --green: #CCF381;
}

body.dark {
  --white: #2F2F37;
  --gray: #3A3A3A;
  --black: #f9f9f9;
  --blue: #4831D4;
  --green: #CCF381;
}

body {
  background: var(--white);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  transition: background 0.3s ease, color 0.3s ease;
}

body, input, textarea, button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
